@import "../sass/variables";

.key {
   font-size: 2rem;
   padding: 2rem 1rem;
   border-radius: 10%;
   color: $primaryFontColor;
   background-color: $primaryColor;
   border: 0.3rem solid $backgroundColor ;
   min-width: 8rem;
}

#buttons__add, #buttons__subtract, #buttons__divide, #buttons__multiply, #buttons__equal {
   background-color:$secondaryColor;
}

#buttons__delete, #buttons__clear {
   background-color: $tertiaryColor
}
