$primaryColor:#909595;
$secondaryColor:#3b383a;
$tertiaryColor:#9a0101;

$primaryFontColor:#f5f3f4;

$backgroundColor:#040101;
$screenColor: #f2f5ff;

$hover:#670e12;

$activeNumber:#666768;
$activeClear:#350606;
$activeOperation:#242123;