@import "./sass/grid";
@import "./sass/buttons";

* {
   padding: 0;
   margin: 0;
   font-size: 10px;
}

#buttons {
   background-color: paleturquoise;
}

#buttons__screen { 
   color: $primaryFontColor;
   background-color: paleturquoise;
   text-align: end;
   font-size: 5rem;
}

