@import "./sass/grid";
@import "./sass/buttons";

* {
   padding: 0;
   margin: 0;
   font-size: 10px;
}

#buttons {
   background-color: $backgroundColor;
}

#buttons__screen,#buttons__subscreen { 
   color: $primaryFontColor;
   background-color: $backgroundColor;
   text-align: end;
}

#buttons__screen{
   font-size: 5rem;
}

#buttons__subscreen{
   font-size: 2rem;
}