#buttons {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-areas: "work work work work" "display display display display" "clear clear delete divide" "key-7 key-8 key-9 multiply" "key-4 key-5 key-6 subtract " "key-1 key-2 key-3 add" "key-0 decimal negative equal ";
}
#buttons #buttons__screen {
  grid-area: display;
}
#buttons #buttons__subscreen {
  grid-area: work;
}
#buttons #buttons__0 {
  grid-area: key-0;
}
#buttons #buttons__1 {
  grid-area: key-1;
}
#buttons #buttons__2 {
  grid-area: key-2;
}
#buttons #buttons__3 {
  grid-area: key-3;
}
#buttons #buttons__4 {
  grid-area: key-4;
}
#buttons #buttons__5 {
  grid-area: key-5;
}
#buttons #buttons__6 {
  grid-area: key-6;
}
#buttons #buttons__7 {
  grid-area: key-7;
}
#buttons #buttons__8 {
  grid-area: key-8;
}
#buttons #buttons__9 {
  grid-area: key-9;
}
#buttons #buttons__negative {
  grid-area: negative;
}
#buttons #buttons__decimal {
  grid-area: decimal;
}
#buttons #buttons__equal {
  grid-area: equal;
}
#buttons #buttons__add {
  grid-area: add;
}
#buttons #buttons__subtract {
  grid-area: subtract;
}
#buttons #buttons__multiply {
  grid-area: multiply;
}
#buttons #buttons__divide {
  grid-area: divide;
}
#buttons #buttons__delete {
  grid-area: delete;
}
#buttons #buttons__clear {
  grid-area: clear;
}

.key, .clear, .delete, .equal {
  font-family: "exo", sans-serif;
  font-size: 2rem;
  padding: 1.6rem 0.8rem;
  border-radius: 10%;
  color: #f5f3f4;
  background-color: #909595;
  border: 0.5rem solid #040101;
}

#buttons__add, #buttons__subtract, #buttons__divide, #buttons__multiply, #buttons__equal {
  background-color: #3b383a;
}

#buttons__delete, #buttons__clear {
  background-color: #9a0101;
}

#buttons__screen {
  min-height: 6.5rem;
}

#buttons__subscreen {
  min-height: 3.5rem;
}

.key:hover, .clear:hover, .delete:hover, .equal:hover {
  border: 0.5rem solid #670e12;
}

.key:active {
  background-color: #666768;
}

#buttons__delete:active, #buttons__clear:active {
  background-color: #350606;
}

#buttons__add:active, #buttons__subtract:active, #buttons__divide:active,
#buttons__multiply:active, #buttons__equal:active {
  background-color: #242123;
}

* {
  padding: 0;
  margin: 0;
  font-size: 10px;
}

body {
  background-image: url(./stars.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#buttons {
  background-color: #040101;
  padding: 2rem 1rem;
  max-width: 320px;
  margin: auto;
  margin-top: 10rem;
  border-radius: 10%;
  border: 0.3rem solid #f2f5ff;
}

#buttons__screen, #buttons__subscreen {
  font-family: "exo", sans-serif;
  color: #f2f5ff;
  background-color: #040101;
  text-align: end;
  margin: 0 3rem;
  overflow-wrap: break-word;
}

#buttons__screen {
  font-size: 5rem;
}

#buttons__subscreen {
  font-size: 2rem;
}

@media screen and (min-width: 768px) {
  * {
    font-size: 15px;
  }

  #buttons {
    margin-top: 2rem;
    max-width: 640px;
  }
}